<h1>Display your Pirate here</h1>
<<<<<<< HEAD
<%= @pirate.name %><br>
<%= @pirate.weight %><br>
<%= @pirate.height %><br>

<h2>Display your first ship here</h2>
<%= @ships.first.name %><br>
<%= @ships.first.type %><br>
<%= @ships.first.booty %><br>

<h2>Display your second ship here</h2>
<%= @ships.last.name %><br>
<%= @ships.last.type %><br>
<%= @ships.last.booty %><br>
=======
<%= @pirate.name %>
<%= @pirate.weight %>
<%= @pirate.height %>

<h2>Display your first ship here</h2>
<%= @ships.first.name %>
<%= @ships.first.type %>
<%= @ships.first.booty %>

<h2>Display your second ship here</h2>
<%= @ships.last.name %>
<%= @ships.last.type %>
<%= @ships.last.booty %>
>>>>>>> c01e7eaba62bb5129332347a0ca275362d247c64
